html {
    background: #e3e3e3;
}

header {
    background: #4b74e7;
    margin: 0px;
    top: 0;
}

body {
    font-family: monospace;
    color: white;
    border-top: 8px solid #e3e3e3;
    background: #e3e3e3;
}

h1 {
    background: #4b74e7;

}

#flex {
    display: flex;
}

.flex{
    flex: 1;
    margin-right: 20px;
    background-color: darkgrey;
    padding: 20px;
}

#flex > * {
    flex: 1;
    margin-right: 20px;
}

.form {
    display: flex;
    flex-direction: column;
}