html {
    background: #e3e3e3;
}

header {
    background: #fff;
    position: sticky;
    top: 0;
}

body {
    font-family: monospace;
    margin: 45px;
    padding: 45px;
    color: darkslategray;
    border-top: 8px solid darkslategrey;
    background: #fff;
}

#flex {
    display: flex;
}

#flex > * {
    flex: 1;
    margin-right: 20px;
}

.form {
    display: flex;
    flex-direction: column;
}