html {
    background: #e3e3e3;
}

header {
    background: #4b74e7;
    position: sticky;
    margin: 0px;
    top: 0;
}

body {
    font-family: monospace;
    color: white;
    border-top: 8px solid #e3e3e3;
    background: #e3e3e3;
}

h1 {
    background: #4b74e7;

}

#publicannouncment {
    margin-right: 20px;
    background-color: darkgrey;
    padding: 20px;
}

.pub {
    margin-right: 20px;
    color: black;
    background-color: #e3e3e3;
    padding: 20px;
}

#flex {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.flex{
    flex: 1;
    margin-right: 20px;
    background-color: darkgrey;
    padding: 20px;
}

.form {
    display: flex;
    flex-direction: column;
    color: black;
}

.button {
    justify-content: center;
    align-items: center;
}

.pic {
    width: 100px;
    height: auto;
    float: right;
    margin-top: -60px;
}

#contactinfo {
    margin-right: 20px;
    background-color: darkgrey;
    padding: 20px;
}

.one {
    background: darkgray;
    color: black;
    border-bottom: dotted 2px;
}




